nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;
  margin: 5.25rem 8.75rem;

  #section-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    margin: 40px 64px 50px;
  }
}

@media only screen and (max-width: 480px) {
  nav {
    margin: 0px 24px 32px;
    padding: 16px 0px;
  }
}
