@import "./variables";

#container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-size: cover;
  background-position: top left;

  main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, auto);
    padding: 0px 140px 100px;

    .left-side {
      grid-column: 1 / span 5;
      display: flex;
      flex-direction: column;

      h1 {
        margin: 0 0 3rem;

        span {
          font-family: "Rubik Regular";
          font-weight: normal;
          margin-bottom: 0.5rem;
          display: inline-block;
        }
      }

      p {
        color: $app-light-blue;
        font-style: italic;
        font-size: $app-text-small;
      }

      p.light {
        color: $app-light-grey;
      }
    }
    .right-side {
      grid-column: 7 / span end;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .right-side:focus {
      outline: none;
    }
  }
}

#container.dark {
  background-image: url("/public/images/pattern-background-desktop-dark.svg");
  background-color: $app-navy;
  color: $app-white;
}
#container.light {
  background-image: url("/public/images/pattern-background-desktop-light.svg");
  background-color: $app-white;
  color: $app-navy;
}

@media only screen and (max-width: 768px) {
  #container {
    // background-size: cover;
    background-repeat: no-repeat;
    main {
      display: flex;
      flex-direction: column;

      padding-left: 64px;
      padding-right: 64px;
      .left-side {
        margin-bottom: 4rem;

        h1 {
          margin: 0 0 1rem;
        }
      }
    }
  }
  #container.dark {
    background-image: url("/public/images/pattern-background-tablet-dark.svg");
  }
  #container.light {
    background-image: url("/public/images/pattern-background-tablet-light.svg");
  }
}

@media only screen and (max-width: 480px) {
  #container {
    main {
      padding-left: 24px;
      padding-right: 24px;
      .left-side {
        margin-bottom: 2.5rem;

        h1 {
          margin: 0 0 1rem;

          span {
            font-family: "Rubik Light";
            font-weight: normal;
          }
        }
        p {
          font-size: $app-text-small-mob;
          line-height: $app-text-line;
        }
      }
    }
  }
  #container.dark {
    background-image: url("/public/images/pattern-background-mobile-dark.svg");
  }
  #container.light {
    background-image: url("/public/images/pattern-background-mobile-light.svg");
  }
}
